* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

a {
  color: #b244e3;
}

a:hover {
  color: #551A8B;
}

header {
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  text-align: center;
  max-width: 1232px;
}

button {
  background: #551A8B;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;
  letter-spacing: 0.21px;
  text-align: center;
  align-items: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  flex: 0 auto;
  width: auto;
}

button:hover {
  background: #bd60e7;
}

.scores {
  text-align: left;
  float: left;
}

.time {
  text-align: right;
  float: right;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#questionScreen .container, #highScoresList {
  text-align: left;
}

#answerCheck {
  text-align: left;
  font-style: italic;
  color: grey;
}

#highScoresList {
  background: #d9d3e9;
}
